domibusConnector/domibusConnectorGatewayPluginClient/src/main/resources/wsdl/DomibusConnectorGatewayService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:tns="http://eu.domibus.connector/DomibusConnectorGatewayService/1.0/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime" name="DomibusConnectorGatewayService"
	targetNamespace="http://eu.domibus.connector/DomibusConnectorGatewayService/1.0/">


	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://eu.domibus.connector/DomibusConnectorGatewayService/1.0/"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			targetNamespace="http://eu.domibus.connector/DomibusConnectorGatewayService/1.0/">

			<xsd:element name="DomibusConnectorMessage" type="tns:MessageType" />
			<xsd:element name="DomibusConnectorAcknowledgement"
				type="tns:AcknowledgementType" />
			<xsd:element name="DomibusConnectorGatewayServiceFault"
				type="xsd:string" />
			<xsd:element name="PendingMessagesRequest" type="xsd:string" nillable="true" />
			<xsd:element name="DomibusConnectorMessages" type="tns:MessagesType" />
			<xsd:element name="MessageStatusRequest" type="xsd:string" />
			<xsd:element name="MessageErrorsRequest" type="xsd:string" />
			<xsd:element name="MessageErrors" nillable="true"
				type="tns:MessageErrorLogEntriesType" />

			<xsd:complexType name="MessagesType">
				<xsd:sequence>
					<xsd:element name="messages" type="tns:MessageType"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="MessageType">
				<xsd:sequence>
					<xsd:element name="messageDetails"
						type="tns:MessageDetailsType" minOccurs="1"
						maxOccurs="1" />
					<xsd:element name="messageContent"
						type="tns:MessageContentType" minOccurs="1"
						maxOccurs="1" />
					<xsd:element name="messageAttachments"
						type="tns:MessageAttachmentType" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="MessageDetailsType">
				<xsd:sequence>
					<xsd:element name="messageId" type="xsd:string" minOccurs="0" />
					<xsd:element name="refToMessageId" type="xsd:string" minOccurs="0" />
					<xsd:element name="partyInfo" type="tns:MessagePartyInfoType" />
					<xsd:element name="collaborationInfo" type="tns:MessageCollaborationInfoType" />
					<xsd:element name="messageProperties" type="tns:MessagePropertiesType" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="MessagePropertiesType">
				<xsd:sequence>
					<xsd:element name="messageProperties"
						type="tns:MessagePropertyType" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="MessagePropertyType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="value" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="MessagePartyInfoType">
				<xsd:sequence>
					<xsd:element name="from" type="tns:PartyType" />
					<xsd:element name="to" type="tns:PartyType" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="MessageCollaborationInfoType">
				<xsd:sequence>
					<xsd:element name="conversationId" type="xsd:string" minOccurs="0" />
					<xsd:element name="action" type="xsd:string" />
					<xsd:element name="serviceId" type="xsd:string" />
					<xsd:element name="serviceType" type="xsd:string" />
					<xsd:element name="agreementRef" type="tns:AgreementRefType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="AgreementRefType">
				<xsd:sequence>
					<xsd:element name="value" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="pmode" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="PartyType">
				<xsd:sequence>
					<xsd:element name="partyId" type="xsd:string" />
					<xsd:element name="partyIdType" type="xsd:string" />
					<xsd:element name="role" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="MessageContentType">
				<xsd:sequence>
					<xsd:element name="contentData" type="base64Binary"
						xmime:expectedContentTypes="application/octet-stream" />
					<xsd:element name="contentName" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="contentMimeType" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="MessageAttachmentType">
				<xsd:sequence>
					<xsd:element name="attachmentName" type="xsd:string"
						minOccurs="1" />
					<xsd:element name="attachmentData" type="base64Binary"
						xmime:expectedContentTypes="application/octet-stream" minOccurs="1"
						/>
					<xsd:element name="attachmentIdentifier" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="attachmentDescription" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="attachmentMimeType" type="xsd:string"
						minOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="AcknowledgementType">
				<xsd:sequence>
					<xsd:element name="success" type="xsd:boolean" />
					<xsd:element name="messageId" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType final="#all" name="MessageErrorLogEntriesType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="tns:MessageErrorLogEntryType" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="MessageErrorLogEntryType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="errorCode" type="xsd:string" />
					<xsd:element minOccurs="0" name="errorDetail" type="xsd:string" />
					<xsd:element minOccurs="0" name="messageInErrorId"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="notified" type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="timestamp" type="xsd:dateTime" />
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="sendMessageRequest">
		<wsdl:part name="sendMessageRequest" element="tns:DomibusConnectorMessage"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendMessageResponse">
		<wsdl:part name="sendMessageResponse" element="tns:DomibusConnectorAcknowledgement"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendMessageFault">
		<wsdl:part name="sendMessageFault" element="tns:DomibusConnectorGatewayServiceFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="requestPendingMessagesRequest">
		<wsdl:part name="requestPendingMessagesRequest" element="tns:PendingMessagesRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="requestPendingMessagesResponse">
		<wsdl:part name="requestPendingMessagesResponse" element="tns:DomibusConnectorMessages"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="requestPendingMessagesFault">
		<wsdl:part name="requestPendingMessagesFault" element="tns:DomibusConnectorGatewayServiceFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="requestMessageStatusRequest">
		<wsdl:part element="tns:MessageStatusRequest" name="requestMessageStatusRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="requestMessageStatusResponse">
		<wsdl:part type="xsd:string" name="requestMessageStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="requestMessageErrorsRequest">
		<wsdl:part element="tns:MessageErrorsRequest" name="requestMessageErrorsRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="requestMessageErrorsResponse">
		<wsdl:part element="tns:MessageErrors" name="requestMessageErrorsResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="DomibusConnectorGatewayServiceInterface">
		<wsdl:operation name="sendMessage">
			<wsdl:input message="tns:sendMessageRequest"></wsdl:input>
			<wsdl:output message="tns:sendMessageResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:sendMessageFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="requestPendingMessages">
			<wsdl:input message="tns:requestPendingMessagesRequest"></wsdl:input>
			<wsdl:output message="tns:requestPendingMessagesResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:requestPendingMessagesFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="requestMessageStatus">
			<wsdl:input message="tns:requestMessageStatusRequest"></wsdl:input>
			<wsdl:output message="tns:requestMessageStatusResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="requestMessageErrors">
			<wsdl:input message="tns:requestMessageErrorsRequest"></wsdl:input>
			<wsdl:output message="tns:requestMessageErrorsResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="DomibusConnectorGatewayServiceWSBinding"
		type="tns:DomibusConnectorGatewayServiceInterface">
		<soap12:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sendMessage">
			<soap12:operation soapAction="" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap12:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="requestPendingMessages">
			<soap12:operation soapAction="" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap12:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="requestMessageStatus">
			<soap12:operation soapAction="" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="requestMessageErrors">
			<soap12:operation soapAction="" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>



	<wsdl:service name="DomibusConnectorGatewayServiceWSService">
		<wsdl:port binding="tns:DomibusConnectorGatewayServiceWSBinding"
			name="DomibusConnectorGatewayServiceWS">
			<soap12:address
				location="http://eu.domibus.connector/DomibusConnectorGatewayService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>