domibusConnector/domibusConnectorBackendLink/src/main/resources/wsdl/DomibusConnectorBackendWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
    xmlns:tns="http://connector.domibus.eu/ws/backend/webservice"
    xmlns:dct="transition.domain.connector.domibus.eu"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xmime="http://www.w3.org/2005/05/xmlmime" name="DomibusConnectorBackendWebService"
    targetNamespace="http://connector.domibus.eu/ws/backend/webservice">
    <wsdl:import
        namespace="transition.domain.connector.domibus.eu"
        location="./eu.domibus.connector.domain.transition/DomibusConnectorTransitionModel.xsd" />
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
                    xmlns:tns="http://connector.domibus.eu/ws/backend/webservice"
                    attributeFormDefault="unqualified" elementFormDefault="unqualified"
                    targetNamespace="http://connector.domibus.eu/ws/backend/webservice">
            <xsd:complexType name="EmptyRequestType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="submitMessageRequest">
        <wsdl:part name="submitMessageRequest" type="dct:DomibusConnectorMessageType"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="submitMessageResponse">
        <wsdl:part name="submitMessageResponse" type="dct:DomibsConnectorAcknowledgementType"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="requestMessagesRequest">
        <wsdl:part name="requestMessagesRequest" type="tns:EmptyRequestType">
        </wsdl:part>
		
    </wsdl:message>
    <wsdl:message name="requestMessagesResponse">
        <wsdl:part name="requestMessagesResponse" type="dct:DomibusConnectorMessagesType"></wsdl:part>
    </wsdl:message>
	
    <wsdl:portType name="DomibusConnectorBackendWebService">
        <wsdl:operation name="submitMessage">
            <wsdl:input message="tns:submitMessageRequest"></wsdl:input>
            <wsdl:output message="tns:submitMessageResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="requestMessages">
            <wsdl:input message="tns:requestMessagesRequest"></wsdl:input>
            <wsdl:output message="tns:requestMessagesResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="DomibusConnectorBackendWSBinding"
                  type="tns:DomibusConnectorBackendWebService">
        <!--        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        URI="#UsernameToken"/>-->
        <soap12:binding style="document"
                        transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="submitMessage">
            <soap12:operation soapAction="" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="requestMessages">
            <soap12:operation soapAction="" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>



    <wsdl:service name="DomibusConnectorBackendWSService">
        <wsdl:port binding="tns:DomibusConnectorBackendWSBinding"
                   name="DomibusConnectorBackendWebService">
            <soap12:address
                location="http://connector.domibus.eu/ws/backend/webservice" />
        </wsdl:port>
    </wsdl:service>


</wsdl:definitions>