domibusConnector/domibusConnectorAPI/src/main/resources/wsdl/DomibusConnectorGatewayWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:tns="http://connector.domibus.eu/ws/gateway/webservice"
	xmlns:dct="transition.domain.connector.domibus.eu"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime" name="DomibusConnectorGatewayWebService"
	targetNamespace="http://connector.domibus.eu/ws/gateway/webservice">
	<wsdl:import
		namespace="transition.domain.connector.domibus.eu"
		location="./eu.domibus.connector.domain.transition/DomibusConnectorTransitionModel.xsd" />

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://connector.domibus.eu/ws/gateway/webservice">
			<xsd:element name="messageIds">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="messageId" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
    </wsdl:types>
	
	<wsdl:message name="submitMessageRequest">
		<wsdl:part name="submitMessageRequest" type="dct:DomibusConnectorMessageType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="submitMessageResponse">
		<wsdl:part name="submitMessageResponse" type="dct:DomibsConnectorAcknowledgementType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="listPendingMessageIdsResponse">
		<wsdl:part name="listPendingMessageIdsResponse" element="tns:messageIds"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getMessageByIdRequest">
		<wsdl:part name="getMessageByIdRequest" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getMessageByIdResponse">
		<wsdl:part name="getMessageByIdResponse" type="dct:DomibusConnectorMessageType"></wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="DomibusConnectorGatewayWebService">
		<wsdl:operation name="submitMessage">
			<wsdl:input message="tns:submitMessageRequest"></wsdl:input>
			<wsdl:output message="tns:submitMessageResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="listPendingMessageIds">
			<wsdl:input message=""></wsdl:input>
			<wsdl:output message="tns:listPendingMessageIdsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getMessageById">
			<wsdl:input message="tns:getMessageByIdRequest"></wsdl:input>
			<wsdl:output message="tns:getMessageByIdResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="DomibusConnectorGatewayWSBinding"
		type="tns:DomibusConnectorGatewayWebService">
		<soap12:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="submitMessage">
			<soap12:operation soapAction="" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="listPendingMessageIds">
			<soap12:operation soapAction="" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getMessageById">
			<soap12:operation soapAction="" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>



	<wsdl:service name="DomibusConnectorGatewayWSService">
		<wsdl:port binding="tns:DomibusConnectorGatewayWSBinding"
			name="DomibusConnectorGatewayWebService">
			<soap12:backendPublishAddress
				location="http://connector.domibus.eu/ws/gateway/webservice" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>